# Problem 21
 [Source](https://projecteuler.net/problem=21)

Let $d(n)$ be defined as the sum of proper divisors of $n$ (numbers less than $n$ which divide evenly into $n$).
  
If $d(a) = b$ and $d(b) = a$, where $a \ne b$, then $a$ and $b$ are an amicable pair and each of $a$ and $b$ are called amicable numbers.

For example, the proper divisors of $220$ are $1, 2, 4, 5, 10, 11, 20, 22, 44, 55$ and $110$; therefore $d(220) = 284$. The proper divisors of $284$ are $1, 2, 4, 71$ and $142$; so $d(284) = 220$.

Evaluate the sum of all the amicable numbers under $10000$.

In [95]:
# Problem 21 workspace

def naive_factorize(n):
    limit = n**(0.5)
    factors = dict()
    factor = 2
    while factor <= limit:
        if n%factor == 0:
            # factors.append(factor)
            if factor not in factors.keys():
                factors[factor] = 1
            else:
                factors[factor] += 1
            n/=factor
            

        else:
            factor += 1 #will increment by 1s but will only ever be appended if prime
    if n > 1:
        factors[int(n)] = 1

    return factors

# def count_total_factors(n):
#     product = 1
#     factors = naive_factorize(n)
#     for k, v in factors.items():
#         product *= v+1
#     return product

import itertools as it
import numpy as np

def get_proper_divisors(n):
    factors = naive_factorize(n)
    prime_divisors = []
    for prime, multiplicity in factors.items():
        prime_divisors += [prime]*multiplicity
    divisors_lists = [1]
    for i in range(1,len(prime_divisors)+1):
        divisors_lists += [int(np.prod(x)) for x in it.combinations(prime_divisors,i)]
    return set(divisors_lists[:-1])

get_proper_divisors(100)

{1, 2, 4, 5, 10, 20, 25, 50}

In [96]:
# %timeit get_proper_divisors(10000)
sum(get_proper_divisors(220))

284

In [97]:
sum(get_proper_divisors(284))

220

In [98]:
amicable = 0
amicable_nums = []
checked = set()
for i in range(2, 10_000):
    if i in checked:
        continue
    friend = sum(get_proper_divisors(i))
    friend_friend = sum(get_proper_divisors(friend))
    if friend < 10_000 and i == friend_friend and i != friend:
        amicable += i
        amicable += friend
        amicable_nums.append(i)
        amicable_nums.append(friend)
        print(i, friend)
    checked.add(i)
    checked.add(friend)
amicable

220 284
1184 1210
2620 2924
5020 5564
6232 6368

31626

In [99]:
amicable_nums

[220, 284, 1184, 1210, 2620, 2924, 5020, 5564, 6232, 6368]

## Answer:

___

# Problem 22
 [Source](https://projecteuler.net/problem=22)

Using
[names.txt](../resources/documents/0022_names.txt)
(right click and 'Save Link/Target As...'), a 46K text file containing over five-thousand first names, begin by sorting it into alphabetical order. Then working out the alphabetical value for each name, multiply this value by its alphabetical position in the list to obtain a name score.

For example, when the list is sorted into alphabetical order, COLIN, which is worth $3 + 15 + 12 + 9 + 14 = 53$, is the $938$th name in the list. So, COLIN would obtain a score of $938 \times 53 = 49714$.

What is the total of all the name scores in the file?

In [89]:
# Problem 22 workspace
import pandas as pd


content = ''
with open("../resources/documents/0022_names.txt", "r") as file:
    content = file.read()
    # print(content)
name_list = content.split(',')
name_list = [x[1:-1] for x in name_list]
name_df = pd.DataFrame({'names':name_list})
name_df.sort_values('names', inplace=True, ignore_index=True)
name_df

        names
0       AARON
1       ABBEY
2       ABBIE
3        ABBY
4       ABDUL
...       ...
5158     ZORA
5159  ZORAIDA
5160     ZULA
5161   ZULEMA
5162    ZULMA

[5163 rows x 1 columns]

In [90]:
ord('A')

65

In [91]:
def letter_values(name):
    total = 0
    for c in name:
        total += ord(c)-64
    return total

letter_values('COLIN')

53

In [92]:
name_df['letters'] = name_df['names'].apply(letter_values)
name_df['rank'] = name_df.index + 1
name_df['score'] = name_df['letters']*name_df['rank']
name_df

        names  letters  rank   score
0       AARON       49     1      49
1       ABBEY       35     2      70
2       ABBIE       19     3      57
3        ABBY       30     4     120
4       ABDUL       40     5     200
...       ...      ...   ...     ...
5158     ZORA       60  5159  309540
5159  ZORAIDA       74  5160  381840
5160     ZULA       60  5161  309660
5161   ZULEMA       78  5162  402636
5162    ZULMA       73  5163  376899

[5163 rows x 4 columns]

In [93]:
int(name_df['score'].sum())

871198282

In [94]:
name_df.loc[name_df['names'] == 'COLIN']

     names  letters  rank  score
937  COLIN       53   938  49714

          names
0          MARY
1      PATRICIA
2         LINDA
3       BARBARA
4     ELIZABETH
...         ...
5158      ELDEN
5159     DORSEY
5160     DARELL
5161  BRODERICK
5162     ALONSO

[5163 rows x 1 columns]

## Answer: 871198282

___

# Problem 23
 [Source](https://projecteuler.net/problem=23)

A perfect number is a number for which the sum of its proper divisors is exactly equal to the number. For example, the sum of the proper divisors of $28$ would be $1 + 2 + 4 + 7 + 14 = 28$, which means that $28$ is a perfect number.

A number $n$ is called deficient if the sum of its proper divisors is less than $n$ and it is called abundant if this sum exceeds $n$.

As $12$ is the smallest abundant number, $1 + 2 + 3 + 4 + 6 = 16$, the smallest number that can be written as the sum of two abundant numbers is $24$. By mathematical analysis, it can be shown that all integers greater than $28123$ can be written as the sum of two abundant numbers. However, this upper limit cannot be reduced any further by analysis even though it is known that the greatest number that cannot be expressed as the sum of two abundant numbers is less than this limit.

Find the sum of all the positive integers which cannot be written as the sum of two abundant numbers.

In [100]:
# Problem 23 workspace

abundant = set()

for i in range(2, 28124):
    s = sum(get_proper_divisors(i))
    if s > i:
        abundant.add(i)

len(abundant)

6965

In [101]:
max(abundant)

28122

In [102]:
expressible = set()
for a in abundant:
    for b in abundant:
        expressible.add(a+b)


inexpressible = set(range(1, 28123)) - expressible
sum(inexpressible)

4179871

In [103]:
inexpressible

{1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 25,
 26,
 27,
 28,
 29,
 8219,
 31,
 33,
 34,
 35,
 37,
 39,
 41,
 43,
 45,
 46,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 8251,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 8269,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99,
 101,
 103,
 105,
 107,
 109,
 111,
 8303,
 113,
 115,
 117,
 119,
 121,
 123,
 125,
 8317,
 127,
 129,
 131,
 133,
 135,
 137,
 139,
 141,
 143,
 145,
 147,
 149,
 151,
 153,
 155,
 157,
 159,
 161,
 163,
 165,
 167,
 169,
 171,
 173,
 175,
 177,
 179,
 181,
 183,
 185,
 187,
 189,
 191,
 193,
 195,
 197,
 199,
 201,
 203,
 205,
 207,
 209,
 8401,
 211,
 213,
 215,
 217,
 219,
 221,
 223,
 225,
 227,
 229,
 231,
 233,
 235,
 237,
 239,
 8431,
 241,
 243,
 245,
 247,
 249,
 8441,
 251,
 8443,
 253,
 255,
 257,
 259,
 261,
 263,
 265,
 267,
 269,
 271,
 273,
 275,
 277,
 279,
 281,
 8473,
 283,
 285,
 287,
 289,
 291,
 293,
 295,
 297,
 299,
 301,
 303,
 305,
 307,
 309,
 311,
 313,
 315,
 317,
 319,
 321,
 323,
 325,
 327,
 329,
 331,
 333,
 335,
 337,
 339,
 341,
 343,
 345,
 347,
 349,
 351,
 353,
 355,
 357,
 359,
 361,
 363,
 365,
 367,
 369,
 371,
 373,
 375,
 377,
 379,
 381,
 383,
 385,
 387,
 389,
 8581,
 391,
 393,
 395,
 8587,
 397,
 399,
 401,
 403,
 405,
 407,
 409,
 411,
 413,
 415,
 417,
 419,
 421,
 423,
 425,
 427,
 429,
 431,
 433,
 435,
 8627,
 437,
 439,
 441,
 443,
 445,
 447,
 449,
 451,
 453,
 455,
 457,
 459,
 8651,
 461,
 463,
 465,
 467,
 469,
 471,
 8663,
 473,
 475,
 477,
 479,
 481,
 483,
 485,
 487,
 489,
 491,
 493,
 495,
 497,
 499,
 501,
 503,
 505,
 507,
 509,
 511,
 513,
 515,
 517,
 519,
 521,
 523,
 525,
 527,
 529,
 531,
 533,
 535,
 537,
 539,
 541,
 543,
 545,
 547,
 549,
 551,
 553,
 555,
 557,
 559,
 561,
 563,
 565,
 567,
 569,
 571,
 573,
 575,
 577,
 579,
 581,
 583,
 585,
 587,
 589,
 591,
 593,
 595,
 597,
 599,
 601,
 603,
 605,
 607,
 609,
 611,
 613,
 615,
 617,
 619,
 621,
 623,
 625,
 627,
 629,
 631,
 633,
 635,
 637,
 639,
 641,
 643,
 645,
 8837,
 647,
 8839,
 649,
 651,
 653,
 655,
 657,
 659,
 661,
 663,
 665,
 667,
 669,
 671,
 673,
 675,
 677,
 679,
 681,
 683,
 685,
 687,
 689,
 691,
 693,
 695,
 8887,
 697,
 699,
 701,
 703,
 705,
 707,
 709,
 711,
 713,
 715,
 717,
 719,
 721,
 723,
 725,
 727,
 729,
 731,
 8923,
 733,
 735,
 737,
 739,
 741,
 8933,
 743,
 745,
 747,
 749,
 751,
 753,
 755,
 757,
 759,
 8951,
 761,
 763,
 765,
 8957,
 767,
 769,
 771,
 773,
 775,
 777,
 779,
 781,
 783,
 785,
 787,
 789,
 791,
 793,
 795,
 797,
 799,
 801,
 803,
 805,
 807,
 809,
 811,
 813,
 815,
 817,
 819,
 821,
 823,
 825,
 9017,
 827,
 829,
 831,
 833,
 835,
 837,
 839,
 841,
 843,
 845,
 847,
 849,
 851,
 853,
 855,
 857,
 859,
 861,
 863,
 865,
 867,
 869,
 9061,
 871,
 873,
 875,
 877,
 17261,
 879,
 9071,
 881,
 9073,
 883,
 885,
 887,
 889,
 891,
 893,
 895,
 897,
 899,
 901,
 903,
 905,
 907,
 909,
 911,
 913,
 915,
 917,
 9109,
 919,
 921,
 923,
 925,
 927,
 929,
 931,
 933,
 935,
 937,
 939,
 941,
 943,
 945,
 9137,
 947,
 949,
 951,
 953,
 955,
 959,
 961,
 967,
 971,
 973,
 977,
 979,
 983,
 989,
 991,
 995,
 997,
 1003,
 1007,
 1009,
 1013,
 1019,
 9211,
 1021,
 1027,
 1031,
 1037,
 1039,
 1043,
 1051,
 1055,
 1061,
 1063,
 1067,
 1069,
 1073,
 1075,
 1079,
 1081,
 1087,
 1091,
 1093,
 1097,
 1099,
 1103,
 1109,
 1111,
 1115,
 1117,
 1123,
 1127,
 1129,
 1133,
 1135,
 1139,
 1147,
 1151,
 1157,
 1159,
 1163,
 1171,
 1175,
 1177,
 1181,
 1183,
 1187,
 1189,
 1193,
 1195,
 1199,
 9391,
 1201,
 1207,
 1211,
 1213,
 1219,
 1223,
 9419,
 1229,
 1231,
 1235,
 1237,
 1241,
 1243,
 1247,
 1255,
 1259,
 1261,
 1267,
 1271,
 1273,
 9467,
 1277,
 1279,
 1283,
 1289,
 1291,
 1301,
 1303,
 1307,
 1315,
 1319,
 1321,
 9517,
 1327,
 1331,
 1333,
 1339,
 1343,
 1349,
 1351,
 1355,
 1357,
 1363,
 1367,
 1369,
 1373,
 1375,
 1379,
 1381,
 1387,
 1391,
 9587,
 1397,
 1399,
 1403,
 1411,
 1415,
 1417,
 1423,
 9617,
 1427,
 1429,
 1433,
 1439,
 1441,
 1447,
 1451,
 1453,
 1457,
 1459,
 1463,
 1469,
 1471,
 1475,
 1481,
 1483,
 1487,
 1493,
 1499,
 1501,
 1507,
 17891,
 9701,
 1511,
 1513,
 1519,
 1523,
 1529,
 1531,
 1535,
 1537,
 1541,
 9733,
 1543,
 1547,
 1549,
 1555,
 1559,
 1567,
 1571,
 1573,
 1577,
 1579,
 1583,
 1591,
 1597,
 1601,
 1603,
 1607,
 1609,
 1613,
 1619,
 1621,
 1627,
 1633,
 1637,
 1639,
 1643,
 1651,
 1657,
 1661,
 1667,
 1669,
 1691,
 1697,
 1699,
 1703,
 1709,
 1711,
 1717,
 1721,
 1723,
 1727,
 1733,
 1739,
 1741,
 1747,
 1753,
 1759,
 1763,
 1769,
 1787,
 1789,
 1793,
 1801,
 1807,
 1811,
 1817,
 1819,
 1823,
 1829,
 1831,
 1837,
 1843,
 1849,
 1853,
 1859,
 1861,
 1867,
 1871,
 1877,
 1889,
 1891,
 1901,
 1903,
 1907,
 1909,
 1919,
 1921,
 1931,
 1933,
 1949,
 1951,
 1957,
 1961,
 1963,
 1969,
 1973,
 1979,
 1987,
 1993,
 1997,
 1999,
 2003,
 2011,
 2017,
 2021,
 2027,
 2029,
 2041,
 2047,
 2053,
 18437,
 2057,
 2059,
 2063,
 2069,
 2071,
 2077,
 2081,
 2083,
 2087,
 2099,
 2101,
 2111,
 2113,
 2117,
 2123,
 2131,
 2137,
 10331,
 2141,
 2143,
 2153,
 2159,
 2167,
 2171,
 10363,
 2173,
 2179,
 2189,
 2197,
 2201,
 2203,
 2207,
 2209,
 2213,
 2221,
 2227,
 2231,
 2237,
 2239,
 2243,
 2249,
 2251,
 2263,
 2267,
 2269,
 2273,
 10471,
 2281,
 2287,
 2291,
 2299,
 2327,
 2329,
 2333,
 2339,
 2341,
 2347,
 10541,
 2351,
 2357,
 2363,
 2369,
 2371,
 2377,
 2383,
 2389,
 2393,
 2399,
 2419,
 2423,
 2431,
 2437,
 2447,
 2453,
 2459,
 2461,
 2467,
 2473,
 2479,
 2483,
 10679,
 2489,
 2491,
 2497,
 2501,
 2507,
 2519,
 2521,
 2531,
 2533,
 2537,
 2539,
 2549,
 2551,
 2561,
 2563,
 2579,
 2581,
 2587,
 2591,
 2593,
 2599,
 2603,
 2623,
 2627,
 2629,
 2633,
 2647,
 2651,
 2657,
 2659,
 2671,
 2677,
 2683,
 19067,
 2687,
 2689,
 2693,
 2699,
 2701,
 2707,
 2711,
 2717,
 2729,
 2731,
 2741,
 2743,
 2747,
 2753,
 10951,
 2761,
 2767,
 2771,
 2773,
 2783,
 2789,
 2797,
 10993,
 2803,
 2809,
 2819,
 2827,
 2831,
 2837,
 2839,
 2843,
 2851,
 2857,
 2861,
 2867,
 2869,
 2873,
 2879,
 2893,
 2899,
 2903,
 2911,
 2917,
 2957,
 2959,
 2963,
 2971,
 2977,
 2981,
 2987,
 2993,
 2999,
 3001,
 3007,
 3013,
 3019,
 3023,
 3029,
 3049,
 3053,
 3061,
 3067,
 3077,
 3083,
 3089,
 3091,
 3097,
 3103,
 3109,
 3113,
 3119,
 3127,
 3131,
 3137,
 3149,
 3151,
 3161,
 3163,
 3167,
 3169,
 3179,
 3181,
 3191,
 3193,
 3209,
 3211,
 3217,
 3221,
 3223,
 3229,
 3253,
 3257,
 3259,
 3263,
 3277,
 3281,
 3287,
 3289,
 3301,
 3307,
 3317,
 3319,
 3323,
 3329,
 ...}

## Answer: 4179871

___

# Problem 24
 [Source](https://projecteuler.net/problem=24)

A permutation is an ordered arrangement of objects. For example, 3124 is one possible permutation of the digits 1, 2, 3 and 4. If all of the permutations are listed numerically or alphabetically, we call it lexicographic order. The lexicographic permutations of 0, 1 and 2 are:

012   021   102   120   201   210

What is the millionth lexicographic permutation of the digits 0, 1, 2, 3, 4, 5, 6, 7, 8 and 9?

In [104]:
# Problem 24 workspace

digit_string = '0123456789'

perms = it.permutations(digit_string)

sorted_perms = sorted(perms)

sorted_perms[0]

('0', '1', '2', '3', '4', '5', '6', '7', '8', '9')

In [109]:
sorted_perms[int(1e6)-1]

('2', '7', '8', '3', '9', '1', '5', '4', '6', '0')

In [ ]:
2783915460

## Answer: 2783915460

___

# Problem 25
 [Source](https://projecteuler.net/problem=25)

The Fibonacci sequence is defined by the recurrence relation:

> $F\_n = F\_{n - 1} + F\_{n - 2}$, where $F\_1 = 1$ and $F\_2 = 1$.

Hence the first $12$ terms will be:

$$\begin{align}
F\_1 &= 1\\
F\_2 &= 1\\
F\_3 &= 2\\
F\_4 &= 3\\
F\_5 &= 5\\
F\_6 &= 8\\
F\_7 &= 13\\
F\_8 &= 21\\
F\_9 &= 34\\
F\_{10} &= 55\\
F\_{11} &= 89\\
F\_{12} &= 144
\end{align}$$

The $12$th term, $F\_{12}$, is the first term to contain three digits.

What is the index of the first term in the Fibonacci sequence to contain $1000$ digits?

In [114]:
# Problem 25 workspace
fib = [1, 1]

while fib[-1] < 10**999:
    fib.append(fib[-2] + fib[-1])

fib[-1]

1070066266382758936764980584457396885083683896632151665013235203375314520604694040621889147582489792657804694888177591957484336466672569959512996030461262748092482186144069433051234774442750273781753087579391666192149259186759553966422837148943113074699503439547001985432609723067290192870526447243726117715821825548491120525013201478612965931381792235559657452039506137551467837543229119602129934048260706175397706847068202895486902666185435124521900369480641357447470911707619766945691070098024393439617474103736912503231365532164773697023167755051595173518460579954919410967778373229665796581646513903488154256310184224190259846088000110186255550245493937113651657039447629584714548523425950428582425306083544435428212611008992863795048006894330309773217834864543113205765659868456288616808718693835297350643986297640660000723562917905207051164077614812491885830945940566688339109350944456576357666151619317753792891661581327159616877487983821820492520348473874384736771934512787029218636250627816

In [123]:
len(fib)

4782

## Answer: 4782

___

# Problem 26
 [Source](https://projecteuler.net/problem=26)

A unit fraction contains $1$ in the numerator. The decimal representation of the unit fractions with denominators $2$ to $10$ are given:

$$\begin{align}
1/2 &= 0.5\\
1/3 &=0.(3)\\
1/4 &=0.25\\
1/5 &= 0.2\\
1/6 &= 0.1(6)\\
1/7 &= 0.(142857)\\
1/8 &= 0.125\\
1/9 &= 0.(1)\\
1/10 &= 0.1
\end{align}$$

Where $0.1(6)$ means $0.166666\cdots$, and has a $1$-digit recurring cycle. It can be seen that $1/7$ has a $6$-digit recurring cycle.

Find the value of $d \lt 1000$ for which $1/d$ contains the longest recurring cycle in its decimal fraction part.

In [124]:
# Problem 26 workspace
142857/999999

0.14285714285714285

In [133]:
999999/7

142857.0

In [140]:
9999999/8

1249999.875

In [143]:
1000/8

125.0

In [151]:
divisor = 8
def divisor_repeater_check(divisor):
    for i in range(1, 100):
        tens = 10**i
        nines = tens-1
        ten_dividend = tens/divisor
        nine_dividend = nines/divisor
        if ten_dividend == int(ten_dividend):
            print("ten divisor: ", i)
            return 0
        elif nine_dividend == int(nine_dividend):
            print("nine divisor: ", i)
            return i
            

divisor_repeater_check(6)

ten divisor:  17

0

In [173]:
165/990

0.16666666666666666

In [172]:
198/3

66.0

In [191]:
7/60

0.11666666666666667

In [186]:
9*(((1/6)*10) - 1)

5.999999999999998

In [189]:
decimal_part = (1/6)*10 - 1
np.isclose(9*(decimal_part), 6)

np.True_

In [ ]:
1/6

11.0

In [203]:
1/6

0.16666666666666666

In [266]:
#0.abc(def) = abc/10**3 + def/((10**3 - 1)*(10**3))

from fractions import Fraction
divisor = 6
limit = 5 #arbitrarily large
def find_repeating_size(divisor, limit = 10):
    for i in range(int(limit)):
        num = Fraction(10**i)/Fraction(divisor)
        # print("num:", num)
        whole_part = int(num)
        decimal_part = num-whole_part
        # print("decimal_part:", decimal_part)
        if decimal_part == 0:
            return 0
        for j in range(1, int(limit)):
            nines = 10**j -1
            dividend = nines*decimal_part
            # print("dividend", dividend)
            if dividend.is_integer():
                # print("nines", nines)
                # print("dividend", dividend)
                # print("Repeating size:", j)
                return j

find_repeating_size(6)

1

In [270]:
find_repeating_size(223, limit = 200)

In [271]:
1/223

0.004484304932735426

In [281]:
from decimal import *
getcontext().prec = 200
Decimal(1) / Decimal(983)

Decimal('0.0010172939979654120040691759918616480162767039674465920651068158697863682604272634791454730417090539165818921668362156663275686673448626653102746693794506612410986775178026449643947100712105798575788403')

In [277]:
max_cycle = 0 
d = 0
for i in range(1, 1000):
    print(i)
    cycle = find_repeating_size(i, limit=1000)
    if cycle > max_cycle:
        max_cycle = cycle
        d = i

d, max_cycle

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670
671
672
673
674
675
676
677
678
679
680
681
682
683
684
685
686
687
688
689
690
691
692
693
694
695
696
697
698
699
700
701
702
703
704
705
706
707
708
709
710
711
712
713
714
715
716
717
718
719
720
721
722
723
724
725
726
727
728
729
730
731
732
733
734
735
736
737
738
739
740
741
742
743
744
745
746
747
748
749
750
751
752
753
754
755
756
757
758
759
760
761
762
763
764
765
766
767
768
769
770
771
772
773
774
775
776
777
778
779
780
781
782
783
784
785
786
787
788
789
790
791
792
793
794
795
796
797
798
799
800
801
802
803
804
805
806
807
808
809
810
811
812
813
814
815
816
817
818
819
820
821
822
823
824
825
826
827
828
829
830
831
832
833
834
835
836
837
838
839
840
841
842
843
844
845
846
847
848
849
850
851
852
853
854
855
856
857
858
859
860
861
862
863
864
865
866
867
868
869
870
871
872
873
874
875
876
877
878
879
880
881
882
883
884
885
886
887
888
889
890
891
892
893
894
895
896
897
898
899
900
901
902
903
904
905
906
907
908
909
910
911
912
913
914
915
916
917
918
919
920
921
922
923
924
925
926
927
928
929
930
931
932
933
934
935
936
937
938
939
940
941
942
943
944
945
946
947
948
949
950
951
952
953
954
955
956
957
958
959
960
961
962
963
964
965
966
967
968
969
970
971
972
973
974
975
976
977
978
979
980
981
982
983
984
985
986
987
988
989
990
991
992
993
994
995
996
997
998
999

(983, 982)

In [278]:
max_cycle

982

In [279]:
d

983

In [280]:
1/983

0.001017293997965412

## Answer: 983

___

# Problem 27
 [Source](https://projecteuler.net/problem=27)

Euler discovered the remarkable quadratic formula:

$n^2 + n + 41$

It turns out that the formula will produce $40$ primes for the consecutive integer values $0 \le n \le 39$. However, when $n = 40, 40^2 + 40 + 41 = 40(40 + 1) + 41$ is divisible by $41$, and certainly when $n = 41, 41^2 + 41 + 41$ is clearly divisible by $41$.

The incredible formula $n^2 - 79n + 1601$ was discovered, which produces $80$ primes for the consecutive values $0 \le n \le 79$. The product of the coefficients, $-79$ and $1601$, is $-126479$.

Considering quadratics of the form:

> $n^2 + an + b$, where $|a| < 1000$ and $|b| \le 1000$
>   
>   
>
> where $|n|$ is the modulus/absolute value of $n$
>   
> e.g. $|11| = 11$ and $|-4| = 4$

Find the product of the coefficients, $a$ and $b$, for the quadratic expression that produces the maximum number of primes for consecutive values of $n$, starting with $n = 0$.

In [1]:
# Problem 27 workspace
from primePy import primes

primes.check(100)

False

In [4]:
max_count = 0
best_pair = (0,0)
for a in range(-999, 1000):
    for b in range(-1000, 1001):
        n = 0
        while True:
            p = n**2 + a*n + b
            prime_check = p > 0 and primes.check(p)
            if not prime_check:
                break
            n+=1
        if n > max_count:
            max_count = n
            best_pair = (a,b)

print(max_count)
print(best_pair)

71
(-61, 971)

In [6]:
best_pair[0]*best_pair[1]

-59231

In [ ]:
[n^2 + a]

## Answer:

___

# Problem 28
 [Source](https://projecteuler.net/problem=28)

Starting with the number $1$ and moving to the right in a clockwise direction a $5$ by $5$ spiral is formed as follows:

**21**
22 23 24
**25**
  
20
**7**
8
**9**
10
  
19  6
**1**
2 11
  
18
**5**
4
**3**
12
  

**17**
16 15 14
**13**

It can be verified that the sum of the numbers on the diagonals is $101$.

What is the sum of the numbers on the diagonals in a $1001$ by $1001$ spiral formed in the same way?

In [50]:
# Problem 28 workspace 

import numpy as np

#
#   0
# 3 X 1
#   2

N = 4

mat = np.zeros((N+1, N+1))


direction = 1
steps = 1
starting_position = np.array((N//2, N//2))
position = starting_position
index = 1

direction_deltas = {
    0: (-1, 0),
    1: (0, 1),
    2: (1, 0),
    3: (0, -1),
}




def label_direction(position, index, direction, steps):
    for i in range(steps):
        # print(position)
        # print(index)
        mat[position[0], position[1]] = index
        index += 1
        position += np.array(direction_deltas[direction])

    if direction%2 == 0:
        steps +=1
    direction += 1
    direction %= 4 
    return (position, index, direction, steps)

    


while position[0] >= 0 and position [0] <= N and position[1] >= 0 and position[1] <= N:
    (position, index, direction, steps) = label_direction(position, index, direction, steps)
    

mat

array([[21., 22., 23., 24., 25.],
       [20.,  7.,  8.,  9., 10.],
       [19.,  6.,  1.,  2., 11.],
       [18.,  5.,  4.,  3., 12.],
       [17., 16., 15., 14., 13.]])

In [ ]:
1+
3+5+7+9+
13+17+21+25+

101

In [46]:
mat.trace() +  mat[:, np.arange(N, 0, -1)].trace() -1

np.float64(668171000.0)

In [38]:
mat[:, np.arange(N, 0, -1)]

array([[1002001., 1002000., 1001999., ..., 1001004., 1001003., 1001002.],
       [ 998002.,  998001.,  998000., ...,  997005.,  997004.,  997003.],
       [ 998003.,  994010.,  994009., ...,  993014.,  993013.,  997002.],
       ...,
       [ 998999.,  995006.,  991021., ...,  992016.,  992017.,  996006.],
       [ 999000.,  995007.,  995008., ...,  996003.,  996004.,  996005.],
       [ 999001.,  999002.,  999003., ...,  999998.,  999999., 1000000.]],
      shape=(1001, 1000))

In [16]:
np.array((500,500))

array([500, 500])

In [ ]:
#direction and steps
'''
1 1
2 1
3 2
0 2
1 3
2 3
3 4
...


Direction 0
[-1, 0]

Direction 1
[0, 1]

Direction 2
[1, 0]

Direction 3
[0, -1]


'''

np.float64(0.0)

In [61]:
n = 1
delta = 1
delta_delta = 2

for i in range(500):
    for j in range(4):
        delta += delta_delta
        n += delta
        # print(j, delta)
        
    delta_delta +=2

n

669171001

## Answer: 669171001

___

# Problem 29
 [Source](https://projecteuler.net/problem=29)

Consider all integer combinations of $a^b$ for $2 \le a \le 5$ and $2 \le b \le 5$:
$$\begin{array}{rrrr}
2^2=4, &2^3=8, &2^4=16, &2^5=32\\
3^2=9, &3^3=27, &3^4=81, &3^5=243\\
4^2=16, &4^3=64, &4^4=256, &4^5=1024\\
5^2=25, &5^3=125, &5^4=625, &5^5=3125
\end{array}$$

If they are then placed in numerical order, with any repeats removed, we get the following sequence of $15$ distinct terms:
$$4, 8, 9, 16, 25, 27, 32, 64, 81, 125, 243, 256, 625, 1024, 3125.$$

How many distinct terms are in the sequence generated by $a^b$ for $2 \le a \le 100$ and $2 \le b \le 100$?

In [62]:
# Problem 29 workspace
distinct_exps = set()
for a in range(2, 101):
    for b in range(2, 101):
        distinct_exps.add(a**b)

len(distinct_exps)

9183

## Answer: 9183

___

# Problem 30
 [Source](https://projecteuler.net/problem=30)

Surprisingly there are only three numbers that can be written as the sum of fourth powers of their digits:
$$\begin{align}
1634 &= 1^4 + 6^4 + 3^4 + 4^4\\
8208 &= 8^4 + 2^4 + 0^4 + 8^4\\
9474 &= 9^4 + 4^4 + 7^4 + 4^4
\end{align}$$

As $1 = 1^4$ is not a sum it is not included.

The sum of these numbers is $1634 + 8208 + 9474 = 19316$.

Find the sum of all the numbers that can be written as the sum of fifth powers of their digits.

In [ ]:
# Problem 30 workspace
pow5 = {i:int(i**5) for i in range(10)}

pow5

{0: 0,
 1: 1,
 2: 32,
 3: 243,
 4: 1024,
 5: 3125,
 6: 7776,
 7: 16807,
 8: 32768,
 9: 59049}

In [76]:
pow5sum(322)

307

In [75]:
def pow5sum(n):
    digits = list(map(int, str(n)))
    pows = [pow5[d] for d in digits]
    return sum(pows)


pow5list = []
for n in range(2, int(1e7)):
    if n == pow5sum(n):
        print(n)
        pow5list.append(n)

sum(pow5list)

4150
4151
54748
92727
93084
194979

443839

## Answer: 443839

___